* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	width: 100%;
	min-height: 100vh;
	background-color: #3772FF;
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 16px;
	color: white;
}

.background1 {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}

.background2 {
	position: absolute;
	right: 0px;
	top: 20%;
	z-index: 1;
}

.logo {
	margin-bottom: 20px;
}

.header {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	height: 128px;
	width: 100%;
	background-color: transparent;
	margin-bottom: 40px;
}

.header > a {
	width: 50px;
	text-align: center;
	margin-left: 50px;
}

.main_title {
	font-family: 'IBM Plex Sans';
	font-weight: 500;
	font-size: 26px;
	margin: 16px;
}

.main_content {
	text-align: center;
	width: 248px;
	max-width: 488px;
	padding: ;
	margin: auto;
}

.main_content > p {
	margin-bottom: 24px;
}

.main_btn {
	display: inline-block;
	width: 180px;
	font-weight: 600;
	color: white;
	background-color: #FC7071;
	text-decoration: none;
	margin-top: 16px;
	border-radius: 6px;
	padding: 7.5px;
	box-shadow: 1px 2px 7px #2e2d2d85;
}

.main_btn:hover {
	background-color: #FF9D9E;
}

.dogs_ilustration {
	transform: translateY(30px);
}

footer {
	width: 100%;
	text-align: center;
}

footer > img {
	position: relative;
	z-index: 1;
}

footer > p {
	position: relative;
	z-index: 2;
	padding: 43px 0px;
	background-color: #36D6AD;
}
